@media screen and (max-width: 290px){
    .main {
        width: 80px;
        padding:15px;
    }
    .main .box {
        width: 60px;
        height: 60px;
    }
    .main .box .text {
        font-size: 10px;
    }
}
@media screen and (max-height: 568px){
    .main {
        width: 50px;
    }
    .main .box {
        width: 40px;
        height: 40px;
    }
}