@tailwind base;
@tailwind components;
@tailwind utilities;

.frmprincipal-home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frmprincipal-home .div {
  background-color: #ffffff;
  height: 667px;
  position: relative;
  width: 375px;
}

.frmprincipal-home .text-wrapper {
  color: #313434;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 81px;
  white-space: nowrap;
  width: 200px;
}

.frmprincipal-home .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 604px;
  width: 375px;
}

.frmprincipal-home .img {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 375px;
}

.frmprincipal-home .home {
  height: 45px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 613px;
  width: 45px;
}

.frmprincipal-home .home-2 {
  height: 45px;
  left: 169px;
  object-fit: cover;
  position: absolute;
  top: 611px;
  width: 45px;
}

.frmprincipal-home .home-3 {
  height: 45px;
  left: 300px;
  object-fit: cover;
  position: absolute;
  top: 612px;
  width: 45px;
}

.frmprincipal-home .overlap-group {
  background-color: #f1f5f4;
  border-radius: 31px;
  height: 45px;
  left: 26px;
  position: absolute;
  top: 116px;
  width: 323px;
}

.frmprincipal-home .p {
  color: #a0a0a0;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.frmprincipal-home .group {
  height: 105px;
  left: 139px;
  position: absolute;
  top: 199px;
  width: 96px;
}

.frmprincipal-home .rectangle {
  background-color: #f1f5f4;
  border-radius: 17px;
  height: 81px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 84px;
}

.frmprincipal-home .text-wrapper-2 {
  color: #717f7f;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 87px;
  width: 94px;
}

.frmprincipal-home .group-2 {
  height: 105px;
  left: 257px;
  position: absolute;
  top: 199px;
  width: 110px;
}

.frmprincipal-home .rectangle-2 {
  background-color: #f1f5f4;
  border-radius: 17px;
  height: 81px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 84px;
}

.frmprincipal-home .text-wrapper-3 {
  color: #717f7f;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 87px;
  width: 108px;
}

.frmprincipal-home .group-3 {
  height: 105px;
  left: 21px;
  position: absolute;
  top: 199px;
  width: 96px;
}

.frmprincipal-home .group-4 {
  height: 105px;
  left: 139px;
  position: absolute;
  top: 336px;
  width: 96px;
}

.frmprincipal-home .group-5 {
  height: 105px;
  left: 257px;
  position: absolute;
  top: 336px;
  width: 96px;
}

.frmprincipal-home .group-6 {
  height: 105px;
  left: 21px;
  position: absolute;
  top: 336px;
  width: 96px;
}

.frmprincipal-home .overlap {
  background-color: #5cc6ba;
  border-radius: 11px;
  height: 46px;
  left: 27px;
  position: absolute;
  top: 499px;
  width: 320px;
}

.frmprincipal-home .text-wrapper-4 {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 320px;
}
